{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">

</head>
<body>
<div class = "page-header">
    <h1><a href="/">My Blog</a></h1>
    <ul>
        {% if user.is_authenticated %}
            <li>
                <a href="/post/new"><i class="fas fa-plus"></i></a>
                <p>Add Post</p>
            </li>
            <li>
                <a href="{% url 'post_draft' %}"><i class="fab fa-firstdraft"></i></a>
                <p>Drafts</p>
            </li>
            <li>
                <a href="/accounts/logout"><i class="fas fa-sign-out-alt"></i></a>
                <p>Logout</p>
            </li>
        {% else %}
            <li>
                <a href="/accounts/login"><i class="fas fa-sign-in-alt"></i></a>
                <p>Login</p>
            </li>
        {% endif %}
    </ul>
</div>
<div class="nav-user">
    {% if user.is_authenticated %}
        <p><span style="color:orange">{{user.username}}</span> in the blog</p>
    {% else %}
        <p><a href="/accounts/login">Log in</a> to edit your posts</p>
    {% endif %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>
</body>
</html>
