{% extends 'blog/base.html' %}

{% block title %} {{post.title}} {% endblock %}

{% block content %}
        <div class="post">
            {% if request.user == post.author %}
                <a href="/post/{{post.pk}}/edit/"><i class="fas fa-edit fa-2x"></i></a>
                {% if post.published_date == none %}
                    <a href="/post/{{post.pk}}/publish" class="btn btn-primary">Publicar</a>
                {% endif %}
                <a href="{% url 'remove_post' pk=post.pk %}" class="btn btn-danger">Delete</a>
            {% endif %}
            <div class="date">
                {% if post.published_date %}
                    {{ post.published_date }}
                {% endif %}
            </div>
             <h1>{{ post.title }}</h1>
             <p>{{ post.post_text }}</p>
        </div>

        <div>
            <a href="{% url 'add_comment' pk=post.pk %}" class="btn btn-primary" style="margin-bottom:25px">New Comment</a>
        </div>
          {% for comment in post.comments.all %}
            <div>
                <div class="date">
                    <p>{{comment.created_date}}</p>
                </div>
                {% if request.user == comment.author %}
                <a href="{% url 'remove_comment' pk=comment.pk %}"><i class="fas fa-trash-alt"></i></a>
                {% endif %}
                <p><strong>{{comment.author.username}}</strong></p>
                <p>{{comment.text}}</p>
                <br>
            </div>
            {% empty %}
            <p>No comments yet...</p>
          {% endfor %}


{% endblock %}