.page-header{
    background-color: orange;
    height:100px;
    width:100%;
    font-size: 45px;
    margin-top:0px;
    vertical-align:middle;
    margin-bottom:0px;
    border-bottom:1px solid orange;
}
.page-header h1{
    display:inline-block;
    width: 200px;
    padding-left:20px;
}
.page-header a{
    color:white;
    align:center;
}
.page-header ul{
    list-style-type: none;
    width:500px;
    display:inline-block;
    vertical-align:middle;
    height:100px;
    float:right;
    padding-right:15px;
}
.page-header ul li{
    float:right;
    display:inline-block;
    height:100px;
    vertical-align:middle;
    margin-left:10px;
    margin-right:5px;
}

.page-header ul li p{
    color:white;
    font-size:10px;
    text-align:center;
}
.nav-user{
    height:30px;
    align-items:center;
    margin-bottom:25px;
    background-color:grey;
    color:white;
    padding-left:25px;
}
.nav-user p{
    padding-top:5px;
}
.nav-user a{
    color:orange;
}

.container{
    width:75%
    margin:0 auto;
}

.post{
    margin-bottom:50px;
    border-bottom:0.5px solid orange;
}
.post a, h2, h1{
    color:grey;
}

.date{
    font-size:12px;
    color:grey;
}

.post-form-blog{
    margin-top:25px;
}

.post-form-blog label{
    width:100px;
}

.post-form-blog .btn-primary{
    float:left;
}

.post-form-blog textarea{
    width:585px;
}

.login-post{
margin-top:25px;
}

.login-post label{
width:80px;
}
