.page-header{
    background-color: orange;
    height:100px;
    font-size: 45px;
    margin-top:0px;
    display:flex;
    align-items:center;
    margin-bottom:20px;
}
.page-header h1{
    padding-left:20px;
}
.page-header a{
    color:white;
    text-decoration:none;
}
.container{
    margin-left: 40px
}

.post{
    margin-bottom:50px;
    border-bottom:0.5px solid orange;
}
.post a, h2, h1{
    color:grey;
}

.date{
    font-size:12px;
    color:grey;
}

.post-form-blog label{
    width:100px;
}

.post-form-blog .btn-primary{
    float:right;
}

.post-form-blog textarea{
    width:585px;
}
